* {
  margin: 0px;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  margin: 0 23px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(114, 114, 204);
  font-size: 1.02rem;
}

nav .left {
  font-size: 1.5rem;
}

main hr {
  margin: 40px 84px;
  border: 0px;
  background: #9c97f1;
  height: 1.2px;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0px;
}

.firstsection > div {
  width: 40%;
}

.leftSection {
  font-size: 3rem;
}
.leftSection buttons {
  padding: 50px 10px;
}
.leftSection .btn {
  padding: 10px;
  background: #1e2167;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.rightSection img {
  width: 70%;
}

.red {
  color: rgb(170, 107, 228);
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(170, 107, 228);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.6rem;
}

.project-container {
  margin: 80px 100px;
  justify-content: center;
  text-align: center;
}

.project-container h3 {
  margin: 10px 0px;
}

.project-container h5 {
  height: 10px;
}

.project-1 {
  width: 300px;
  height: 200px;
  border: 10px;
}
.proj1:hover {
  opacity: 80%;
}

.projects {
  display: flex;
}

.projects .github {
  text-decoration: none;
  color: white;
}

.projects .github:hover {
  color: rgb(104, 104, 123);
  font-size: 1.02rem;
}
.footer {
  background-color: rgb(18, 18, 62);
}
.footer {
  display: flex;
  padding: 23px 123px;
  justify-content: space-evenly;
}
.footer li {
  list-style: none;
  cursor: pointer;
}
.footer > div {
  width: 223px;
}
footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 10px 0px;
}
